<div id="about">
    <h4 class="uppercase h6">About Me</h4>
    <img class="thumbnail" src="/assets/img/static/avatar.png">
    <p>Well hello there. My name’s Patrick and I’m a pretty technical guy, and I love technical things. This is blog
        about stuff that I’ve discovered while working. I might throw random crap in here, but for the most part it
        will be pretty technical, and may have random bursts of code. To learn more about me head over to my aptly
        named <a href="http://about.me/patrick.connelly">about.me</a> page where you can find all the links to my
        twitter, website and the like.</p>
</div>