---
layout: default
---
<section class="section">
    <div id="content" class="container">
        <div id="post_navigation_pre">
            {% include post-nav.html %}
            <hr>
        </div>
        <div id="post_content">
            {% include post-header.html %}
            {% include content.html %}
            {% include post-footer.html %}
        </div>
        <div id="post_navigation_post">
            <hr>
            {% include post-nav.html %}
        </div>
        {% if page.post_id %}
        <div id="post_comments">
            {% include disqus.html %}
        </div>
        {% endif %}
    </div>
</section>